applications:

  - name: redis
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: registry-1.docker.io/bitnamicharts
      targetRevision: 24.0.0
      chart: redis
      helm:
        releaseName: redis
        valuesObject:
          global:
            defaultStorageClass: linode-block-storage
          auth:
            enabled: false
          image:
            repository: bitnamilegacy/redis
          architecture: replication
          replica:
            replicaCount: 1
    destination:
      namespace: redis-system
    syncPolicy:
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: aieg-crd
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: oci://docker.io/envoyproxy/ai-gateway-crds-helm
      targetRevision: v0.5.0
      path: .
      helm:
        releaseName: aieg-crd
    destination:
      namespace: envoy-ai-gateway-system
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: aieg
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: oci://docker.io/envoyproxy/ai-gateway-helm
      targetRevision: v0.5.0
      path: .
      helm:
        releaseName: aieg
        valuesObject:
          controller:
            mutatingWebhook:
              certManager:
                enable: true
                issuerName: self-signed-ca
                certificateName: self-signed-cert-for-mutating-webhook-managed
          extProc:
            extraEnvVars:
                - name: LOG_LEVEL
                  value: "debug"
    destination:
      namespace: envoy-ai-gateway-system
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: stack
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: https://github.com/ADORSYS-GIS/ai-helm
      targetRevision: HEAD
      path: charts/ai-stack
      helm:
        releaseName: ai-stack
        valuesObject:
          gateway:
            listeners:
              api:
                hostname: api.ai.camer.digital
              web:
                hostname: ai.camer.digital
                additionalHostnames:
                  - analytics.ai.camer.digital
          tls:
            domains:
              - api.ai.camer.digital
              - ai.camer.digital
              - analytics.ai.camer.digital
          models:
            deepseek-v3p1:
              backends:
                fw-01: { modelNameOverride: "accounts/fireworks/models/deepseek-v3p1", priority: 0, weight: 1 }
                fw-02: { modelNameOverride: "accounts/fireworks/models/deepseek-v3p1", priority: 1, weight: 1 }
            gpt-5:
              backends:
                openai-01: { modelNameOverride: "gpt-5", priority: 0, weight: 1 }
                openai-02: { modelNameOverride: "gpt-5", priority: 1, weight: 1 }
    destination:
      namespace: converse
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
        - CreateNamespace=true
      automated:
        prune: true
        selfHeal: true

  - name: phoenix
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: oci://registry-1.docker.io/arizephoenix/phoenix-helm
      targetRevision: 4.0.36
      path: .
      helm:
        releaseName: phoenix
        valuesObject:
          persistence:
            storageClass: linode-block-storage
          service:
            type: "ClusterIP"
          ingress:
            enabled: false
          additionalEnv:
            - name: PHOENIX_OAUTH2_KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: converse-phoenix-keycloak
                  key: client_secret
          auth:
            disableBasicAuth: true
            useSecureCookies: true
            createSecret: false
            name: "converse-phoenix"
            oauth2:
              enabled: true
              providers:
                keycloak:
                  client_id: "phoenix"
                  oidc_config_url: "https://accounts.ssegning.com/realms/camer-digital/.well-known/openid-configuration"
                  display_name: "CDigital"
                  allow_sign_up: true
                  auto_login: true
                  role_attribute_path: "phoenix_role"
                  role_mapping: "admin:ADMIN,user:MEMBER,viewer:VIEWER"
                  role_attribute_strict: true
                  use_pkce: true
                  scopes: "openid phoenix"
    destination:
      namespace: converse-phoenix
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: authorino-operator
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: https://kuadrant.io/helm-charts
      targetRevision: 0.23.1
      chart: authorino-operator
      helm:
        releaseName: authorino-operator
    destination:
      namespace: authorino-system
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: secrets
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: https://github.com/ADORSYS-GIS/ai-ops-secrets.git
      targetRevision: HEAD
      path: manifests
    destination:
      namespace: manifests
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true

  - name: converse-mongo-backup
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    source:
      repoURL: https://github.com/ADORSYS-GIS/ai-helm
      targetRevision: feat/mongodb-backup
      path: charts/mongodb-backup
      helm:
        releaseName: mongodb-backup
        valuesObject:
          mongo-backup:
            controllers:
              main:
                cronjob:
                  schedule: "59 23 * * *"
                initContainers:
                  exporter:
                    env:
                      MONGODB_URI: "mongodb://converse-db-0.converse-db-headless:27017"
    destination:
      namespace: converse-chat
    syncPolicy:
      syncOptions:
        - ServerSideApply=true
      automated:
        prune: true
        selfHeal: true
